*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body{
    background-color: #00070A;
    color: white;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}