.quantity {
    margin-top: 10px;
    display: flex;

    align-items: center;

    justify-content: center;
}

.edit-icon {
    text-align: right;
margin-left: 150px;
}

#favoriteIcon{
    margin-left: 150px;
}

.quantity button {
    padding: 0 10px;
    margin: 0 5px;
    color: white;
    font-size: 35px;
    background-color: transparent;
    border: none;
}

.meal-card {
    margin: 0 20px;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meal-card h3{
text-align: center;
}


.meal-card img {
    width: 150px;
    height: 150px;
    display: block;
}

#incluir {
    background-color: #750310;
    font-size: 15px;
    border-radius: 4px;
    height: 40px;
}


#price{
    color: #82F3FF;
    font-size: 25px;
    font-weight: 300;
}

#description{
    max-height: 80px; /* Ajuste conforme necessário */
  overflow: hidden;
  text-wrap: wrap;

}

@media screen and (max-width: 768px) {
.quantity button{
    font-size: 18px;
}
#incluir{
    height: 30px;
}
  }