.carousel-container {
    position: relative;
    padding: 100px 0;
  }
  
  .carousel {
    position: relative;
    overflow: hidden;
  }
  
  .overlay-left,
  .overlay-right {
    position: absolute;
    top: 2px;
    bottom: 0;
    width: 20%; /* Largura da área de sobreposição ajustada */
    transition: opacity 0.5s ease; /* Transição suave de opacidade */
    font-size: 100px;
    font-weight: 100;
  }
  
  .overlay-left {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #00070A); /* Gradiente transparente para branco */
  }
  
  .overlay-right {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #00070A); /* Gradiente transparente para branco */
    text-align: right;
  }
  
  .slick-slide {
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transição suave de transformação e opacidade */
  }
  
  .slick-slide.slick-active {
    opacity: 1; /* Opacidade total para o slide ativo */
  }
  
  .overlay-left:hover,
  .overlay-right:hover {
    opacity: 0.9; /* Opacidade ajustada para o efeito de hover */
  }

  @media screen and (max-width: 768px) {
    .overlay-left,
  .overlay-right {
    
    width: 10%; /* Largura da área de sobreposição ajustada */
    font-size:60px;
    top:100px;
  }
  h3{
    padding-top: 10px;
    font-size: 20px;
  }
  p{
    font-size: 12px;
  }
  
  }

  
  