.logo h3{
  font-weight: 400;
  font-size: 25px;
}


.logo {
  display: flex;
  align-items: center; /* Isso alinhará os itens verticalmente */
  margin-top: 10px;
}
.logo img {
width: auto;
  margin-left: 30px;
}

.search-wrapper {
  position: relative;

}

.search-icon {
  position: absolute;
  left: 10px; /* Posição ajustável conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

.search-input {
  padding-left: 50px; /* Adiciona espaço para o ícone */
  outline: none;
  width: 100%; 
  border: none;
}

.button-pedidos button{
  width: 150px;
  margin-top: 15px;
}

.custom-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  border: none !important;
}
.navbar-toggler{
  border: none;
}
.navbar-toggler:focus{
  border: none;
  box-shadow: none;
}
.navbar-toggler:focus-visible{
  outline: none;
}

.custom-toggler:focus {
  outline: none !important;
  border: none !important; /* Adicione esta linha para remover qualquer borda */
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .navbar-button-order {
    margin-left: 0;
    margin-top: 10px; /* Adiciona margem superior na versão móvel */
  }

  .logo h3 {
    font-size: 30px;
  }

  .nav-desktop,
  .nav-desktop-buttons {
    display: none;
  }
}
