.formNewDish {
  align-items: normal;
}

.form-select {
  margin-top: 14px;
}

textarea {
  height: 200px;
}

.align-right {
  text-align: right;
}

#deleteButton{
  margin-right:10px ;
  background-color: #0D161B;
}

.custom-file-upload {
  border: none;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.custom-file-upload {
  border-radius: 6px;
  margin-top: 15px;
  text-align: center;
}

.voltar {
  margin-top: 15px;
  font-size: 15px;
}
#category{
  color: white;
  border: none;
}
.search-input {
  padding-left: 5px;
  color: white;
}

.search-input::placeholder {
  color: rgb(121, 123, 126);
  font-size: 16px;
  font-weight: 300;
}

.footer {
  position: relative;
}

button {
  margin-bottom: 15px;
}

#priceDish {
  height: 36px;
}

.react-tag-input{
  margin-top: 15px;
  background-color: #0D1D25 !important; 
  border:none  !important;

}

.react-tag-input__input{
  color: white  !important;
}